<!-- Widgets  -->
<div class="row">

  <div class="col-lg-3 col-md-6">
    <div class="card">
      <div class="card-body">
        <div class="stat-widget-five">
          <div class="stat-icon dib text-danger">
            <i class="menu-icon fa fa-gears"></i>
          </div>
          <div class="stat-content">
            <div class="text-left dib">
              <div class="stat-text"><span class="count">25</span></div>
              <div class="stat-heading">Devam Ediyor</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-6">
    <div class="card">
      <div class="card-body">
        <div class="stat-widget-five">
          <div class="stat-icon dib text-primary">
            <i class="menu-icon fa fa-sun-o"></i>
          </div>
          <div class="stat-content">
            <div class="text-left dib">
              <div class="stat-text"><span class="count">34</span></div>
              <div class="stat-heading">Yeni</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-2 col-md-6">
    <div class="card">
      <div class="card-body">
        <div class="stat-widget-five">
          <div class="stat-icon dib text-warning">
            <i class="menu-icon fa fa-spinner"></i>
          </div>
          <div class="stat-content">
            <div class="text-left dib">
              <div class="stat-text"><span class="count">74</span></div>
              <div class="stat-heading">Beklemede</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-2 col-md-6">
      <div class="card">
        <div class="card-body">
          <div class="stat-widget-five">
            <div class="stat-icon dib text-success">
              <i class="menu-icon fa fa-check-square-o"></i>
            </div>
            <div class="stat-content">
              <div class="text-left dib">
                <div class="stat-text"><span class="count">18</span></div>
                <div class="stat-heading">Tamamlandı</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> 
    
    <div class="col-lg-2 col-md-6">
        <div class="card">
          <div class="card-body">
            <div class="stat-widget-five">
              <div class="stat-icon dib text-secondary">
                <i class="menu-icon fa fa-minus-square-o"></i>
              </div>
              <div class="stat-content">
                <div class="text-left dib">
                  <div class="stat-text"><span class="count">18</span></div>
                  <div class="stat-heading">Kapandı</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>     

</div>
<!-- /Widgets -->

<div class="clearfix"></div>
<!-- Orders -->
<div class="orders">
  <div class="row">
    <div class="col-xl-12">
      <div class="card">
        <div class="card-body">
          <span class="col-xl-10">Talepler</span>
          <span class="col-xl-1 pull-right"> <button type="button" class="btn btn-primary" (click)="newTicket()">Yeni Talep <i class="fa fa-plus"></i> </button> </span>
        </div>
        <div class="card-body--">
          <div class="table-stats order-table ov-h">
            <table class="table ">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Kimde</th>
                  <th>Başlık</th>
                  <th>Oluşturan</th>
                  <th>Oluşturma Tarihi</th>
                  <th>Durum</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let ticket of tickets">
                  <td> <a href="ticketDetail/{{ticket.ID}}">#{{ticket.ID}}</a> </td>
                  <td> <span class="name">{{ticket.assignedFullName}}</span> </td>
                  <td> <span class="product">{{ticket.subject}}</span> </td>
                  <td> <span class="name">{{ticket.fullname}}</span> </td>
                  <td> <span class="name">{{ticket.ticketDate}}</span> </td>
                  <td>
                    <span class="badge badge-{{ globalService.getStatusCssClassName( ticket.status ) }}">
                      {{ticket.statusName}}
                    </span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div> <!-- /.table-stats -->
        </div>
      </div> <!-- /.card -->
    </div> <!-- /.col-lg-8 -->

  </div>
</div>
<!-- /.orders -->
