<!-- Widgets  -->
<div class="row">

  <div class="col-lg-2 col-md-6">
    <div class="card">
      <div class="card-body">
        <div class="stat-widget-four">
          <div class="stat-icon dib text-danger">
            <i class="menu-icon fa fa-gears"></i>
          </div>
          <div class="stat-content">
            <div class="text-left dib">
              <div class="stat-text text-danger"><span class="count">{{sContinue}}</span></div>
              <div class="stat-text">
                Devam Ediyor
                <i class="menu-icon fa fa-filter filterIcon" (click)="filterData(2)" ngbPopover="Filtrelemek için tıklayınız" triggers="mouseenter:mouseleave" ></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-2 col-md-6">
    <div class="card">
      <div class="card-body">
        <div class="stat-widget-four">
          <div class="stat-icon dib text-primary">
            <i class="menu-icon fa fa-sun-o"></i>
          </div>
          <div class="stat-content">
            <div class="text-left dib">
              <div class="stat-text text-primary"><span class="count">{{sNew}}</span></div>
              <div class="stat-text">Yeni
                  <i class="menu-icon fa fa-filter filterIcon" (click)="filterData(1)" ngbPopover="Filtrelemek için tıklayınız" triggers="mouseenter:mouseleave" ></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-2 col-md-6">
    <div class="card">
      <div class="card-body">
        <div class="stat-widget-four">
          <div class="stat-icon dib text-secondary">
            <i class="menu-icon fa fa-minus-square-o"></i>
          </div>
          <div class="stat-content">
            <div class="text-left dib">
              <div class="stat-text text-secondary"><span class="count">{{sTesting}}</span></div>
              <div class="stat-text">Test Ediliyor
                  <i class="menu-icon fa fa-filter filterIcon" (click)="filterData(6)" ngbPopover="Filtrelemek için tıklayınız" triggers="mouseenter:mouseleave" ></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>   

  <div class="col-lg-2 col-md-6">
    <div class="card">
      <div class="card-body">
        <div class="stat-widget-four">
          <div class="stat-icon dib text-warning">
            <i class="menu-icon fa fa-spinner"></i>
          </div>
          <div class="stat-content">
            <div class="text-left dib">
              <div class="stat-text text-warning"><span class="count">{{sWait}}</span></div>
              <div class="stat-text">Beklemede
                  <i class="menu-icon fa fa-filter filterIcon" (click)="filterData(5)" ngbPopover="Filtrelemek için tıklayınız" triggers="mouseenter:mouseleave" ></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-2 col-md-6">
      <div class="card">
        <div class="card-body">
          <div class="stat-widget-four">
            <div class="stat-icon dib text-success">
              <i class="menu-icon fa fa-check-square-o"></i>
            </div>
            <div class="stat-content">
              <div class="text-left dib">
                <div class="stat-text text-success"><span class="count">{{sCompleted}}</span></div>
                <div class="stat-text">Tamamlandı
                    <i class="menu-icon fa fa-filter filterIcon" (click)="filterData(3)" ngbPopover="Filtrelemek için tıklayınız" triggers="mouseenter:mouseleave" ></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> 
    
    <div class="col-lg-2 col-md-6">
      <div class="card">
        <div class="card-body">
          <div class="stat-widget-four">
            <div class="stat-icon dib text-info">
              <i class="menu-icon fa fa-ban"></i>
            </div>
            <div class="stat-content">
              <div class="text-left dib">
                <div class="stat-text text-info"><span class="count">{{sError}}</span></div>
                <div class="stat-text">Hata
                    <i class="menu-icon fa fa-filter filterIcon" (click)="filterDataType(3)" ngbPopover="Filtrelemek için tıklayınız" triggers="mouseenter:mouseleave" ></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>     

</div>
<!-- /Widgets -->

<div class="clearfix"></div>
<!-- Orders -->
<div class="orders">
  <div class="row">
    <div class="col-xl-12">
      <div class="card">
        <div class="card-body">
          <span class="col-xl-5">Talepler</span>
          <span class="col-xl-1"> <button type="button" class="btn btn-primary smallButton" (click)="newTicket()">Yeni Talep <i class="fa fa-plus"></i> </button> </span>
          <span class="col-xl-5"><input [(ngModel)]="searchText" placeholder="Ara..." class="searchInput"></span>
        </div>
        <div class="card-body--">
          <div class="table-stats order-table ov-h">
            <table class="table" id="tblTickets">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Atanan</th>
                  <th>Başlık</th>
                  <th>Tür</th>
                  <th>Organizasyon</th>
                  <th>Modül</th>
                  <th>Oluşturan</th>
                  <th>Oluşturma Tarihi</th>
                  <th>Durum</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let ticket of tickets | searchFilter: {ID: searchText, statusName: searchText, subject: searchText, assignedFullName: searchText, organizationName: searchText, ticketTypeName: searchText, ticketModuleName: searchText, fullname: searchText, ticketDate: searchText}; ">
                  <td> <a routerLink="/ticketDetail/{{ticket.ID}}" routerLinkActive="active">#{{ticket.ID}}</a> </td>
                  <td> <span class="name">{{ticket.assignedFullName}}</span> </td>
                  <td> 
                      <span [ngbPopover]="popOver" [autoClose]="'outside'" popoverTitle="{{ticket.subject}}" container="body" popoverClass="customPopOver" placement="right" class="subject">{{ticket.subject}}</span>
                      <ng-template #popOver>
                        <div [innerHTML]="ticket.description"></div>
                      </ng-template> 
                  </td>
                  <td> <span class="name">{{ticket.ticketTypeName}}</span> </td>
                  <td> <span class="name">{{ticket.organizationName}}</span> </td>
                  <td> <span class="name">{{ticket.ticketModuleName}}</span> </td>
                  <td> <span class="name">{{ticket.fullname}}</span> </td>
                  <td> <span class="name">{{ticket.ticketDate}}</span> </td>                  
                  <td>
                    <span class="badge badge-{{ globalService.getStatusCssClassName( ticket.status ) }}">
                      {{ticket.statusName}} 
                    </span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div> <!-- /.table-stats -->
        </div>
      </div> <!-- /.card -->
    </div> <!-- /.col-lg-8 -->



  </div>
</div>
<!-- /.orders -->


