<div class="clearfix"></div>
<!-- Orders -->
<div class="row">
  <div class="col-lg-12">
    <!-- Talep Basla -->
    <div class="card">
      <div class="card-header">
        Talep <span class="ticketNo">#{{ticketID}}</span>
      </div>
      <div class="card-body">

        <div class="ticketDetail">
          <div class="col-lg-12">
            Ticket başlığı buraya gelecek.
          </div>
          <div class="col-lg-12 ticketContent">
            <strong>Lorem Ipsum</strong>, dizgi ve baskı endüstrisinde kullanılan mıgır metinlerdir. Lorem Ipsum, adı
            bilinmeyen bir matbaacının bir hurufat numune kitabı oluşturmak üzere bir yazı galerisini alarak
            karıştırdığı 1500'lerden beri endüstri standardı sahte metinler olarak kullanılmıştır. Beşyüz yıl boyunca
            varlığını sürdürmekle kalmamış, aynı zamanda pek değişmeden elektronik dizgiye de sıçramıştır. 1960'larda
            Lorem Ipsum pasajları da içeren Letraset yapraklarının yayınlanması ile ve yakın zamanda Aldus PageMaker
            gibi Lorem Ipsum sürümleri içeren masaüstü yayıncılık yazılımları ile popüler olmuştur.
          </div>
          <div class="col-lg-12 ticketContent">
            <i class="fa fa-file-text"></i>
          </div>
          <div class="col-lg-12 ticketDetailSubTitle">
            12.12.2018 09:50 İsmail AKTAŞ
          </div>
        </div>

        <div class="ticketDetail">
          <div class="col-lg-12">
            Düzenleme Yapılmıştır. Kontrol edilebilir.
          </div>
          <div class="col-lg-12 ticketContent">
            Buraya cevap detayı yazılacak. varsa doküman eklenecek.
          </div>
          <div class="col-lg-12 ticketContent">
            <i class="fa fa-file-text"></i>
          </div>
          <div class="col-lg-12 ticketDetailSubTitle">
            11.08.2018 17:25 İsmail AKTAŞ
          </div>
        </div>
      </div>
    </div>
    <!-- Talep Bitir -->


    <!-- Cevap Basla -->
    <div class="card">
      <div class="card-header">
        <span class="ticketNo">#{{ticketID}}</span> Nolu Talebi Cevapla
      </div>
      <div class="card-body">

        <div class="ticketDetail">
            
            <div class="col-lg-12 ticketContent">
                <app-ngx-editor [placeholder]="'Açıklama...'" [spellcheck]="true" [(ngModel)]="ticketResponse" ></app-ngx-editor>
            </div>

            <div class="col-lg-12 ticketContent">
              <div class="row form-group">
                  <div class="col-12 col-md-1 marginTop15"><label for="select" class=" form-control-label">Durum</label></div>
                  <div class="col-12 col-md-4">
                      <mat-form-field>
                        <mat-select [(ngModel)]="ticketStatus" name="cmbTicketStatus">
                          <mat-option *ngFor="let stat of ticketStats" [value]="stat.ID">
                            {{stat.name}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                  </div>
              </div>       
            </div>    

            <div class="col-lg-12 ticketContent">
                <div class="row form-group">
                    <div class="col-12 col-md-1"><label class=" form-control-label">Doküman</label></div>
                    <div class="col-12 col-md-4"><input type="file" id="file" (change)="handleFileInput($event.target.files)"></div>
                </div>
            </div>

        </div>

        <button type="button" class="btn btn-success" (click)="replyTicket()">Cevapla</button>

      </div>
    </div>
    <!-- Cevap Bitir -->



  </div>
</div>
