<div class="clearfix"></div>
<!-- Orders -->
<div class="row">
  <div class="col-lg-12">
    <!-- Talep Basla -->
    <div class="card" *ngIf="ticketID>0">
      <div class="card-header">
        Talep <span class="ticketNo">#{{ticketID}}</span>
        <div class="float-right"><span class="text-info" id="spnStat"></span></div>
      </div>
      <div class="card-body">

        <div class="{{ticketDetail.parentId == 0?'ticketDetail':'ticketDetail paddingLeft20'}}"
          *ngFor="let ticketDetail of ticketDetails">
          <div class="col-lg-12" *ngIf="ticketDetail.parentId == 0 ">
            {{ticketDetail.subject}}
          </div>
          <div class="col-lg-12 ticketContent">
            <div *ngIf="ticketDetail.isDeleted == 0" [innerHTML]="ticketDetail.description"></div>
            <span *ngIf="ticketDetail.isDeleted == 1" class="text-danger ticketDetailSubTitle">Bu cevap
              {{ticketDetail.fullname}} tarafından {{ticketDetail.deletedDate}} tarihinde silindi.</span>
          </div>
          <div class="col-lg-12 ticketContent">
            <button type="button" class="btn btn-info mediumButton" *ngIf="ticketDetail?.filePath"
              (click)="getFile(ticketDetail?.filePath)" title="İndirmek için tıklayınız"><i
                *ngIf="ticketDetail?.filePath" class="fa fa-file-text"></i> indir</button>
          </div>
          <div class="col-lg-12 ticketDetailSubTitle">
            <div *ngIf="ticketDetail.isDeleted==0">
              <span>Tarih: {{ticketDetail.ticketDate}} - Oluşturan: {{ticketDetail.fullname}} - Atanan: {{ticketDetail.assignedFullName}} - Tür: {{ticketDetail.ticketTypeName}} - Modül: {{ticketDetail.ticketModuleName}}</span> -
              <span id="{{ticketDetail.parentId == 0 ? 'dvStat' : ticketDetail.ID}}">Durum:
                {{ticketDetail.statusName}}</span>
              <button *ngIf="ticketDetail.userID == loggedUser.ID || loggedUser.userType == 1" type="button" class="btn btn-dangerNew smallButton"
                (click)="openModal(template, ticketDetail.ID, ticketDetail.parentId )">Sil</button>
              <button *ngIf="ticketDetail.userID == loggedUser.ID || loggedUser.userType == 1" type="button" class="btn btn-warning smallButton"
                routerLink="/ticketEdit/{{ticketDetail.ID}}" routerLinkActive="active"
                >Düzenle</button>
            </div>
          </div>
        </div>

      </div>
    </div>
    <!-- Talep Bitir -->


    <!-- Cevap Basla -->
    <div class="card">
      <div class="card-header" *ngIf="ticketID>0">
        <span class="ticketNo">#{{ticketID}}</span> Nolu Talebi Cevapla
      </div>
      <div class="card-header" *ngIf="ticketID==0">
        Yeni Talep
      </div>
      <div class="card-body">

        <div class="ticketDetail">

          <div class="col-lg-12 ticketContent" *ngIf="ticketID==0">
            <input type="text" name="txtTicketSubject" placeholder="Başlık Giriniz" class="form-control"
              [(ngModel)]="ticketResponseSubject">
          </div>

          <div class="col-lg-12 ticketContent">
            <app-ngx-editor [placeholder]="'Açıklama...'" [spellcheck]="true" [(ngModel)]="ticketResponse">
            </app-ngx-editor>
          </div>

          <div class="col-lg-12 ticketContent" *ngIf="ticketID==0">
            <div class="row form-group">
              <div class="col-12 col-md-1 marginTop15"><label for="select" class=" form-control-label">Tür</label></div>
              <div class="col-12 col-md-4">
                <mat-form-field>
                  <mat-select [(ngModel)]="ticketType" name="cmbTicketTypes" aria-required="true">
                    <mat-option *ngFor="let ticketType of ticketTypes" [value]="ticketType.ID">
                      {{ticketType.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
          </div>

          <div class="col-lg-12 ticketContent" *ngIf="ticketID==0">
            <div class="row form-group">
              <div class="col-12 col-md-1 marginTop15"><label for="select" class=" form-control-label">Modül</label>
              </div>
              <div class="col-12 col-md-4">
                <mat-form-field>
                  <mat-select [(ngModel)]="ticketModule" name="cmbTicketModule" aria-required="true">
                    <mat-option *ngFor="let module of ticketModules" [value]="module.ID">
                      {{module.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
          </div>

          <div class="col-lg-12 ticketContent">
            <div class="row form-group">
              <div class="col-12 col-md-1 marginTop15"><label for="select" class=" form-control-label">Durum</label>
              </div>
              <div class="col-12 col-md-4">
                <mat-form-field>
                  <mat-select [(ngModel)]="ticketStatus" name="cmbTicketStatus" aria-required="true">
                    <mat-option *ngFor="let stat of ticketStats" [value]="stat.ID">
                      {{stat.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
          </div>

          <div class="col-lg-12 ticketContent">
            <div class="row form-group">
              <div class="col-12 col-md-1 marginTop15"><label for="select" class=" form-control-label">Öncelik</label>
              </div>
              <div class="col-12 col-md-4">
                <mat-form-field>
                  <mat-select [(ngModel)]="ticketPriority" name="ticketPriority" aria-required="true">
                    <mat-option [value]="1">1</mat-option>
                    <mat-option [value]="2">2</mat-option>
                    <mat-option [value]="3">3</mat-option>
                    <mat-option [value]="4">4</mat-option>
                    <mat-option [value]="5">5</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
          </div>          

          <div class="col-lg-12 ticketContent">
            <div class="row form-group">
              <div class="col-12 col-md-1 marginTop15"><label for="select" class=" form-control-label">Atanan</label>
              </div>
              <div class="col-12 col-md-4">
                <mat-form-field>
                  <mat-select [(ngModel)]="ticketAssign" name="cmbTicketAssign" aria-required="true">
                    <mat-option *ngFor="let user of users" [value]="user.ID">
                      {{user.fullname}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
          </div>

          <div class="col-lg-12 ticketContent">
            <div class="row form-group">
              <div class="col-12 col-md-1"><label class=" form-control-label">Doküman</label></div>
              <div class="col-12 col-md-4"><input type="file" id="file" (change)="handleFileInput($event.target.files)">
              </div>
            </div>
          </div>

        </div>

        <button type="button" class="btn btn-success" (click)="replyTicket()">Kaydet</button>

      </div>
    </div>
    <!-- Cevap Bitir -->

    <ng-template #template>
      <div class="modal-body text-center">
        <p>İşlemi gerçekleştirmek istiyor musunuz?</p>
        <button type="button" class="btn btn-default" (click)="confirm()">Evet</button>
        <button type="button" class="btn btn-primary" (click)="decline()">Hayır</button>
      </div>
    </ng-template>

  </div>
</div>