@import '~ngx-toastr/toastr.css';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.content{
    min-height: 550px !important;
}

.ticketNo{
    color: #269a1a;    
}
.ticketContent{
    font-size: 13px;
    color: #505056;
    margin-bottom: 10px;
    margin-top: 10px;    
}
.ticketContent>a{
    font-size: 25px;
    color: #697b8c;    
}
.ticketContent>i{
    font-size: 25px;
    color: #697b8c;    
}
.ticketDetail{
    margin-bottom: 10px; 
    border-bottom: 1px solid #d4d4d4; 
    padding: 10px; 
    padding-left: 0px;    
}
.ticketDetailSubTitle{
    font-style: italic;
    font-size: 10px;
    color: #afb4c3;
}

.ngx-editor-textarea{
    height: 200px !important;
}

.marginTop15{
    margin-top: 15px;
}

.marginTop-15{
    margin-top: -15px;
}

.marginLeft10{
    margin-left: 10px;
}

.marginLeft20{
    margin-left: 20px;
}

.marginLeft0{
    margin-left: 0px !important;
}

.paddingLeft20{
    padding-left: 20px;
}

.modal{
    z-index: 999 !important;
}

.modal-backdrop{
    z-index: 999 !important;
}

.smallButton{
    padding-left: 5px;
    font-size: 10px;
    line-height: 1.5;
    border-radius: .2rem;
    margin-left: 10px;
    padding-right: 5px;
    padding-top: 0px;
    padding-bottom: 0px;    
}

.mediumButton {
    padding-left: 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: .2rem;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.btn-dangerNew {
    color: #fff;
    background-color: #d67e87;
    border-color: #d67e87;
}

.right-panel{
    margin-left: 0px !important;
}

.rightPanelClose{
    margin-left: 0px;
    background: #fff;
}

.width50{
    width: 50%;
}

.login-form {
    background: #ffffff;
    padding: 30px 30px 20px;
    border-radius: 20px !important;
    border: 2px #dde6dd solid !important;
}

.bgColor{
    background-color: #d67e87;
}

.table-stats table td {
    font-size: 12px !important;
}

.table-stats table th .name, .table-stats table td .name {
    font-size: 12px !important;
    text-transform: none !important;
}

footer.site-footer .footer-inner {
    color: #518198;
    font-family: 'Open Sans';
    font-size: 14px;
    line-height: 1.5;
    padding: 10px !important;
}

.user-area .user-menu {
    background: #fff;
    border: none;
    left: -60px !important;
    right: 0;
    top: 54px !important;
    margin: 0;
    max-width: 150px;
    padding: 5px 10px;
    position: absolute;
    width: 100%;
    z-index: 999;
    min-width: 150px;
    -webkit-box-shadow: 0 3px 12px rgba(0, 0, 0, 0.05);
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.05);
}